body {
    
    background-image: url(https://media.istockphoto.com/id/2158394252/vector/cream-background-abstract-beige-background-banner-for-advertise-product-on-website.jpg?s=2048x2048&w=is&k=20&c=XVf5x2jFnjBJZc2fEJ-DWgq3kaSBBjyt8KRolDyptc4=);
  }
/* 
  .container{
    background-color: aquamarine;
  } */